@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-manrope: Manrope;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-royalblue: #2c7ef8;
  --color-darkslategray-100: #252f3d;
  --color-dimgray: #4d5254;
  --color-lightgray: #cfcfcf;

  /* Gaps */
  --gap-xl: 20px;
  --gap-base: 16px;
  --gap-3xs: 10px;
  --gap-13xl: 32px;
  --gap-xs: 12px;
  --gap-5xl: 24px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-base: 16px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-3xs: 10px;
}
